* {
    box-sizing: border-box;
} 
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor */
.content {
    width: 100%;
    max-width: 640px;
    height: 440px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título */
.title {
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000;

    position: relative;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.title:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 70px;
    height: 1px;
    background-color: #000;
}

/* Leyenda */
.legend {
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    margin-bottom: 24px;
}
.legend--lgtbiq {
    width: 130px;
}
.legend--odio {
    width: 112.5px;
}
.legend__item {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    position: relative;
}
.legend__item--legal:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ecb901;
}
.legend__item--ilegal:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ede7e0;
}
.legend__item--si:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ecb901;
}
.legend__item--no:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ede7e0;
}

.legend.hidden {
    display: none;
}

/* BUTTONS > Espacio botón */
.b-buttons {
    width: 100%;
    margin-bottom: 40px;
    
    display: flex;
    justify-content: space-between;
}

.btn {
    /* Maqueta botón*/
    width: 33%;
    max-width: 198px;
    height: 32px;
    cursor: pointer;
    
    border-radius: 2px;
    box-shadow: 1px 2px 5px 0 rgba(197, 197, 197, 0.5);
    background-color: #ffffff;

    /* Disposición texto */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Texto botón */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.btn span {
    pointer-events: none;
}

.btn--active {
    background-color: #000000;
    color: #ffffff;
}

/* Mapa */
.charts {
    width: 100%;
    
    margin: 0 auto;
    margin-bottom: 19.5px;

    display: flex;
    justify-content: space-between;
}

.chart {
    width: calc(20% - 50px);
    max-width: 78px;
    flex-grow: 1;
}

.chart--title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;

    margin-bottom: 8px;
}

.chart--viz {
    display: flex;
    flex-wrap: wrap;
    
    align-content: space-between;
}

.chart--outercircle {
    width: 20%;
    height: 16.5px;
}

.chart--innercircle {
    width: 11px;
    height: 11px;
    
    border-radius: 50%;
    background-color: #ede7e0;
}

.chart--innercircle--active {
    background-color: #ecb901;
}

/* Tooltip de la visualización */
.ec-tooltip {
    font-family: 'Roboto';
    box-sizing: border-box;

    position: absolute;
    top: 0px;
    left: 0px;

    width: auto;
    max-width: 180px;
    height: auto;
    padding: 8px;
    opacity: 0;

    background-color: #fff;

    pointer-events: none;    
}

.ec-tooltip .popup-title {
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;

    margin-bottom: 8px;
}

.ec-tooltip .popup-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;
    margin-bottom: 4px;
}

/* Fuente de datos */
.data-source {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}
.data-source .bold {
    font-weight: bold;
}

.only-mobile {display: none;}

/* Media queries */
@media only screen and (max-width: 575px) {
    .btn {
        width: calc(33% - 14px);
    }
}

@media only screen and (max-width: 475px) {
    .only-desktop {display: none;}
    .only-mobile {display: block;}
}

@media only screen and (max-width: 425px) {    
    .legend {
        margin-bottom: 16px;
    }
    .b-buttons {
        margin-bottom: 24px;
    }
    .charts {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 0px;
    }
    .chart {
        width: 40%;
        max-width: none;
        flex-grow: 0;

        margin-bottom: 12px;
    }
    .chart:nth-child(2n+1) {
        margin-right: 50px;
    }

    .chart:last-child {
        margin-bottom: 0px;
    }
    .chart--outercircle {
        width: 10%;
        height: 14px;
    }
    .chart--innercircle {
        width: 10px;
        height: 10px;
    }
}

@media only screen and (max-width: 345px) {
    .btn {
        width: calc(33% - 8px);
    }
}
